.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  width: 100%;
  height: 55px;
  /* padding: 20px; */
  color: white;
  position: fixed;
}

#app-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.Home-View {
  background: linear-gradient(to top left, #ffffff 0%, #FFDA00 100%);
  width: 100%;
  height: 85vh;
}

.Home-View > button {
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

h2 + button {
  background: blue;
  margin: 0px 20px 0px 0px;
}

#username {
  color: red;
  z-index: 100;
}

.Prop-View {
  background-image: url('./assets/Kayaking.jpg');
  background-size: cover;
  width: 100%;
  height: 30vh;
  box-shadow: 0px 1px 15px #000000; 
}

.Prop-View div {
  font-weight: bold;
  font-size: 40px;
  color: yellow;
  text-shadow: 2px 2px #646464;
}

.show {
  transform: translateX(0%);
  transition: .35s ease-in-out;
  visibility: visible;
}

.hide {
  transform: translateX(-100%);
  transition: .35s ease-in-out;
  visibility: hidden;
}

.the_pic li{
  display: flex;
  flex-direction: column;
}

.the_list{
  width: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Prop-View button {
  box-sizing: border-box;
  width: 100px;
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@media (max-width: 600px) {
  .Prop-View div {
    font-weight: bold;
    font-size: 25px;
    color: red;
    text-shadow: 2px 2px #646464;
  }
}

